@charset "utf-8";

html,button{
  font-size: 62.5%;
  font-family:'Times New Roman', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 
  'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 
  'ＭＳ Ｐ明朝', 'MS PMincho', 'serif';
  color: #000000;
}

.header-nav-list{
  list-style: none;
}

a{
  text-decoration: none;
}

/* header */
.header{
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #FFFFFF;
}

.header-inner{
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;

}

.header-left{
  display: flex;
  justify-content: space-between;
}

.header-right{
  text-align: right;
}

.header-nav ul{
  display: flex;
  margin-left: 120px;
}
.header-nav ul li a{
 font-size: 1.6rem;
 line-height: 4.2rem;
 color: #000000;
 margin-right: 30px;
 margin-top: 30px;
 margin-bottom: 30px;
}

.reserve-btn{
  display: inline-block;
  background: #978F10;
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 4.8rem;
  width: 170px;
  height: 54px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.reserve-btn img{
  vertical-align: middle;
  margin-right: 10px;
}

/* modal */
#reserve-modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}


.modal-wrapper{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 0.7;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 550px;
  height: 600px;
  background-color: #FFFFFF;
  border: 1px solid #707070;
  padding: 25px 60px;
  z-index: 510;
}

.close-modal{
  position: absolute;
  top: 2.0rem;
  right: 2.2rem;
  cursor: pointer;
  max-width: 18px;
  max-height: 18px;
}

.reserve-form h2{
  font-size: 2.0rem;
  line-height: 2.7rem;
  color: #000000;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #E7E7E7;
}

.form-list{
  padding: 30px 0 65px 0;
}

.form-label{
  font-size: 1.6rem;
  line-height: 2.1rem;
  display: block;
  margin-bottom: 12px;
}

.form-input{
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #797878;
  padding-left: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.submit-btn{
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #707070;
  font-size: 1.6rem;
  line-height: 2.1rem;
  width: 198px;
  height: 42px;
  font-family: 'YuMincho';
  cursor: pointer;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%,-20%);
}
/* //modal */


.humburger{
  display: none;
}


/* //header */



.fv_container{
  background-image: url(../img/food/menu-header.png);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.fv_copy{
  font-size: 3.4rem;
  line-height: 4.2rem;
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* intro */
 .section-inner{
   padding: 25px 20px 0 20px;
   margin-left: auto;
   margin-right: auto;
   max-width: 1180px;
 }

 .pagenation{
   font-size: 1.6rem;
   line-height: 3.2rem;
 }

 .pagenation a:hover{
   border-bottom: 1px solid #000000;
   font-weight: bold;

 }

 .section-text{
   margin-top: 85px;
   margin-bottom: 130px;
   text-align: center;
 }

 .section-text-sp{
   display: none;
 }


 .section-text p{
   font-size: 1.6rem;
   line-height: 3.2rem;
   color: #000000;
 }

 .food-info-img{
   width: 525px;
   height: 300px;
 }



 .food-info{
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
  position: relative;
  width: 100%;
  height: 380px;
}



.food-info-img{
 z-index: 10;
}

.food-info-img img{
  position: absolute;
  left: 0;
  top: -60px;
}


.food-info-text{
  background-image: url(../img/room/bg.png);
  width: 813px;
  height: 381px;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
}

.food-info-text-rv{
  position: absolute;
  bottom: 0;
  left: 0;
}

.food-info-img-rv{
  position: absolute;
  right: 0;
}

.text-inner{
 margin-left: 240px;
}

.rv-inner{
  margin-left: 60px;
}


.food-ttl{
  margin-top: 55px;
  margin-bottom: 46px;
}

.food-ttl h3{
 font-size: 2.4rem;
 line-height: 3.2rem;
}

.food-text{
  margin-bottom: 47px;
}
.food-text p{
  font-size: 1.6rem;
  line-height: 3.2rem;
}

/* //intro */

/* footersection */
#footersection{
  background-image: url(../img/top/bg3.png);
  padding: 60px 0 44px 0;
  text-align: center;
}
.footer-list{
  writing-mode: vertical-rl;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 90px;
}

.footer-list li {
  text-align: left  ;
  padding: 0 10px ;
}

.footer-list li a{
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #000000;
  letter-spacing: 0.7rem;
}

.footer-logo{
  margin-bottom: 65px;
}
.adress-list{
  font-size: 1.6rem;
  line-height: 4.8rem;
}

.adress-list span{
  margin-right: 16px;
}

.adress-list span:last-child{
  margin-right: 0;
}

.tellnav{
  font-size: 1.6rem;
  line-height: 4.8rem;
}

/* //footersection */

/* footer */
.footer{
  background-color: #000000;
}

.footer-inner{
  text-align: center;
}

.footer-text{
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  padding: 14px 0;
}
/* //footer */